{{>header}}

<div class="form">
    <h3>Введіть параметри для додавання магазину</h3>
    <form method="post">
        <input type="text" name="shopname" placeholder="Shop name" /><br/>
        <input type="text" name="category" placeholder="Category" /><br/>
        <input type="text" name="city" placeholder="City" /><br/>
        <input type="text" name="latitude" placeholder="Latitude" /><br/>
        <input type="text" name="longitude" placeholder="Longitude" /><br/>
        <input type="text" name="manager" placeholder="Manager" /><br/>
        <input type="submit" name="submit" value="Додати"/>
    </form>
</div>

{{>footer}}