<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database Course Work</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <script src="/script.js" type="text/javascript"></script>
</head>
<body>
<div class="content">
    <div class="menu">
        <a href="/shops/"><div class="menu-item">Магазини</div></a>
        <a href="/products/"><div class="menu-item">Товари</div></a>
        <a href="/coupons/"><div class="menu-item">Купони</div></a>
        <a href="/purchase/"><div class="menu-item">Історія покупок</div></a>
        <a href="/liked/"><div class="menu-item">Категорії, що вподобані</div></a>
        <a href="/scores/"><div class="menu-item">Бали за покупку</div></a>
        <a href="/managers/"><div class="menu-item">Менеджери</div></a>
        <a href="/promos/"><div class="menu-item">Акційні товари</div></a>
        <a href="/logout/"><div class="menu-item">Вихід</div></a>
    </div>
    <div class="selected-menu-item-content">
        <div class="content-item-header-menu">
            <a href="./"><div class="menu-item-horizontal">Запит користувача</div></a>
            <a href="./edit/"><div class="menu-item-horizontal">Редагувати</div></a>
            <a href="./insert/"><div class="menu-item-horizontal">Додати</div></a>
        </div>