{{>header}}

<div class="table-data">
    {{#data}}
    <h3>Результат виконання запиту користувача</h3>
    <table>
        <tr>
            <td>Назва магазину</td>
            <td>Широта</td>
            <td>Довгота</td>
        </tr>
        {{#data}}
        <tr>
            <td>{{shopName}}</td>
            <td>{{lat}}</td>
            <td>{{lng}}</td>
        </tr>
        {{/data}}
    </table>
    {{/data}}
</div>

<div class="form">
    <h3>Введіть параметри для виконання запиту</h3>
    <form method="post">
        <input type="text" name="category" placeholder="Category"/><br/>
        <input type="text" name="city" placeholder="City"/><br/>
        <input type="text" name="offers" placeholder="Offers"/><br/>
        <input type="submit" name="submit" value="Get"/>
    </form>
</div>

{{>footer}}