{{>header}}

<div class="table-data {{^data}}hidden{{/data}}">
    <h3>Результат виконання запиту користувача</h3>
    <table>
        <tr>
            <td>Кількість балів</td>
        </tr>
        {{#data}}
        <tr>
            <td>{{score}}</td>
        </tr>
        {{/data}}
    </table>
</div>

<div class="form">
    <h3>Введіть параметри для виконання запиту</h3>
    <form method="post">
        <input type="text" name="productName" placeholder="Product name"/><br/>
        <input type="text" name="shopName" placeholder="Shop name"/><br/>
        <input type="submit" name="submit" value="Get"/>
    </form>
</div>

{{>footer}}